@model IList<ProductCategory>


<div class="menu-desktop">
<ul class="main-menu">
		<li class="drop-holder">
			<a href="/Product">
				All Products
			</a>
		</li>

		@foreach (var item in Model)
		{
		<li class="drop-holder">
		<a asp-controller="Category" asp-action="Sphamtheoloai" asp-route-cateid="@item.CategoryProductId">

		@item.Title
		</a>
		
</li>
}
		</ul>

</div>

					